@import "tailwindcss";

:root {
  --background: #f0f1f4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f1f4;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 25px;
  width: 100%;
  max-width: 100%;
}

.search-icon {
  @apply w-[41.68px] h-[41.68px] md:w-[50px] md:h-[50px] border border-[#BDC502] rounded-full absolute left-[4px] top-[5px];
}
.slider-btn {
  @apply w-[63px] h-[63px] bg-white rounded-full cursor-pointer flex justify-center items-center;
}

.slick-track {
  display: flex !important;
}
.slick-slide {
  margin-right: 15px;
}
.slick-dots {
  bottom: 55px !important;
}
.slick-dots li {
  width: 8px !important;
  height: 8px !important;
  margin: 0 2px !important;
}
.slick-dots li button {
  line-height: 8px !important;
  width: 8px !important;
  height: 8px !important;
  padding: 4px !important;
}
.slick-dots li.slick-active button:before {
  color: #d0ff00 !important;
  opacity: 1 !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
  line-height: 8px !important;
  width: 8px !important;
  height: 8px !important;
  color: #8c9959 !important;
  opacity: 1 !important;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 115px !important;
  }
  .slick-dots li {
    width: 11.85px !important;
    height: 11.85px !important;
  }
  .slick-dots li button {
    line-height: 11.85px !important;
    width: 11.85px !important;
    height: 11.85px !important;
  }

  .slick-dots li button:before {
    font-size: 12px !important;
    line-height: 11.85px !important;
    width: 11.85px !important;
    height: 11.85px !important;
  }
}
